/* Global colour configuration */
:root {
    --background: #202020;
}   

/* Full-size with reduced padding */
html, body {
    width: 100%;
    height: 100%;

    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;

    background-color: var(--background);
}

/* Default font stack */
* {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: white;
}

p {
    font-size: 1.2em;
}

/* Aligns to bottom-right of parent */
.align-br {
    position: fixed;

    bottom: 0;
    right: 0;
}

/* Gives 1em of padding */
.pad-1 {
    padding: 1em;
}